.tp-team-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5023a9;
    color: white;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#ps-h2 {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #5023a9;
    border-radius: 5px;
    color: white;
    padding: 15px;
    position: fixed;
    width: calc(100% - 800px); /* Full width minus sidebar */
    top: 0px;
    left: 400px;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
}

.clg-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.header-right {
    font-size: 20px;
    font-weight: bold;
}

.candidates-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.candidates-table th, .candidates-table td {
    padding: 12px 15px;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 8px;
}

.candidates-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.candidates-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.candidates-table tr:hover {
    background-color: #ddd;
}

.candidate-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
    }

    .main-content {
        margin-left: 0;
        padding: 10px;
    }
}
